# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
.idea/
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/js/*
node_modules/*
app/Resources/lib/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
