# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
.idea/
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
app/Resources/lib/*
bower_components/*
node_modules/*
web/css/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
